{% extends 'layout.html'%}



{% block content %}

<div class="wrapper">
    <div class="info">
        <div class="description">
            <p class="names">Мої навички:</p>
        <div class="desc">
            <ul class = chekmark>
            <li><a href="{{ url_for ('html_page')}}">Html</a></li>
            <li><a href="{{ url_for ('css_page')}}">Css</a></li>
            <li><a href="{{ url_for ('python_page')}}">Python</a></li>
            <li><a href="{{ url_for ('flask_page')}}">Flask</a></li>
            <li><a href="{{ url_for ('sql_page')}}">Sql</a></li>
            <li><a href="{{ url_for ('turtle_page')}}">Turtle</a></li>
                </ul>
             </div>
        </div>
    </div>
</div>
{% endblock content %}